[defaults]
#inventory = ./environments/stage/inventory
inventory = ./environments/stage/inventory.compute.gcp.yml
remote_user = master
private_key_file = ~/.ssh/master
host_key_checking = False
retry_files_enabled = False
roles_path = ./roles
vault_password_file = vault.key

[diff]
always = True
context = 5

